@import './Base.scss';
@import './Typography.scss';
@import './Form.scss';

body {
  background: $lightBlue;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $lightBlue, $darkBlue);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $lightBlue, $darkBlue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: white;
}

.sun {
  width: calc(80px + 5vmin);
  height: auto;
  align-self: center;
}

.app-title {
  font-size: calc(10px + 6vmin);
}

.result {
  min-height: 3.5rem;
}